section-about-me {
  width: 100%;
}
.about-me-picture {
  border-radius: 20px;
}
.about-me-title {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23077;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
  margin-bottom: 40px;
}
.about-me-title span.about {
  color: #00b068;
}
.bio-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.about-me-img {
  border-radius: 16px;
}
.title-name {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #292929;
  margin-bottom: 32px;
}
.bio-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #292929;
  margin-bottom: 24px;
}
.bio-text:last-child {
  margin-bottom: 0;
}
.about-me-bg {
  display: none;
}
.about-me-education-item {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
  text-align: left;
}
.row-list::before {
  content: url(../img/about-me/about-me-rectangle.jpg);
  color: #00b068;
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 1px;
  left: 0;
  top: -3px;
  align-items: center;
}

@media (min-width: 768px) {
  .bio {
    background-image: url(../img/about-me/decor-aboutme-desk-1x.png);
    background-size: 360px 252px;
    background-position: bottom right; /* Позиціонуємо малюнок внизу по центру */
    background-repeat: no-repeat;
    margin-bottom: -160px;
  }
  .bio-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px 32px;
  }
  .about-me-img {
    align-self: flex-end;
    margin-top: 368px;
  }
}
@media (min-width: 1280px) {
  .bio-section {
    grid-gap: 80px 136px;
  }
  .about-me-img {
    align-self: flex-end;
    margin-top: 272px;
  }
  .bio {
    background-size: 384px 288px;
    margin-bottom: -48px;
  }
  .education {
    width: 336px;
  }
}
