/* .section-about-me {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  align-items: center;
}

.about-me-title {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23077;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
  
  text-align: left;
  margin-bottom: 40px;
}


.about-me-img {
  max-width: 100%;
  max-height: 374px;
  border-radius: 16px;
  
  margin-bottom: 0px;
  
}

.about {
  color: #292929;
}

.me {
  color: #00b068;
}

.bio-section {
  
  text-align: center;

  
}

.about-me-img {
  width: 100%;
  max-width: 280px;
  height: auto;
  border-radius: 10px; 
}

.bio {
  text-align: left;
  margin-top: 40px;
}

.title-name {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #292929;
  margin-bottom: 32px;
}

.bio-text .row-list {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #292929;
  margin-bottom: 24px;
}
.bio-text:last-child {
  margin-bottom: 0;
}

.about-me-education-item {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
  text-align: left;
}



.bio-text {
  margin-bottom: 24px; 
}


.bottom-row {
  margin-top: 40px;
}

.about-me-education-list {
  list-style-type: none;
  padding: 0;
}

.about-me-education-list li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
  text-align: left;
}

.about-me-education-list li::before {
  content: '•';
  color: #00b068;
  position: absolute;
  left: 0;
  top: 0;
}

.EDUCATION {
  margin-bottom: 40px;
}
.row-list::before {
  content: '•';
  color: #00B068;
  position: absolute;
  padding: 0 10px;
  border-radius: 1px;
  width: 4px;
  height: 4px;
  left: 0;
  top: 0;
}



@media (min-width: 768px) {
  .section-about-me {
    background-image: url(../img/about-me/decor-about-me-tab-1x.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 336px 252px;
      background-position: right 0px bottom 156px;
      padding: 60px 0;
    max-width: 768px;
    position: relative;
  }

  .about-me-title {
    text-align: left;
    font-size: 108px;
    line-height: 124px;
    letter-spacing: 0.01em;
  }

  .about-me-img  {
    max-width: 336px;
    max-height: 392px;
    margin-top: auto;
    }

  .bio-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 60px 32px;
    
  }

  .bio-text {
    max-width: 336px;
  
  }

  .bottom-row {
    display: flex;
    margin-top: 128px;
  }

  .EDUCATION {
    max-width: 336px;
    margin-right: 32px;
  }
  
}


@media (min-width: 1280px) {
  .section-about-me {
    background-image: url(../img/about-me/decor-aboutme-desk-1x.png);
    background-size: 384px 288px;
    background-position: right 32px bottom 264px;
    max-width: 1280px;
    
    justify-content: center;
  }

 .bio-section {
  
 }
 .bottom-row {
  justify-content: space-evenly;
  margin-top: 312px;
  gap: 136px;
 
 }
 .bio {
  padding-left: 136px;
  
 }
 .bio-text {
  min-width: 488px;
 }
 .about-me-education-item {
  min-width: 384px;
 }
 .title-name {
  font-size: 36px;
    line-height: 48px;
 }
 

  
} */

section-about-me {
  width: 100%;
}
.about-me-title {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23077;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
  margin-bottom: 40px;
}
.about-me-title span.about {
  color: #00b068;
}
.bio-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.about-me-img {
  border-radius: 16px;
}
.title-name {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #292929;
  margin-bottom: 32px;
}
.bio-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #292929;
  margin-bottom: 24px;
}
.bio-text:last-child {
  margin-bottom: 0;
}
.about-me-bg {
  display: none;
}
.about-me-education-item {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
  text-align: left;
}
.row-list::before {
  content: url(../img/about-me/about-me-rectangle.jpg);
  color: #00b068;
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 1px;
  left: 0;
  top: 0;
  align-items: center;
}

@media (min-width: 768px) {
  .bio {
    background-image: url(./img/about-me/decor-aboutme-desk-1x.png);
    background-size: 336px 252px;
    background-position: bottom right; /* Позиціонуємо малюнок внизу по центру */
    background-repeat: no-repeat;
    margin-bottom: -160px;
  }
  .bio-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px 32px;
  }
  .about-me-img {
    align-self: flex-end;
    margin-top: 368px;
  }
}
@media (min-width: 1280px) {
  .bio-section {
    grid-gap: 80px 136px;
  }
  .about-me-img {
    align-self: flex-end;
    margin-top: 272px;
  }
  .bio {
    background-size: 384px 288px;
    margin-bottom: -48px;
  }
  .education {
    width: 336px;
  }
}
