.body-dark p {
  color: #fff;
}
.body-dark a {
  color: #fff;
}

.body-dark .user-review {
  background: #2a2d32;
}

.body-dark .my-projects-btn-load-more {
  color: #fff;
}
.body-dark .my-projects-btn-visit {
  background: #2a2d32;
}
.body-dark .my-projects-name {
  color: #fff;
}
.body-dark .hero-button-order {
  color: #fff;
}

.body-dark .hero-button-bg {
  background: #204136;
}
.body-dark .about {
  color: #fff;
}

.body-dark .hero-title {
  color: #fff;
}

.body-dark h2 {
  color: #fff;
}
