/*
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('/css/header.css');
@import url('./hero.css');
@import url('./about-me.css');
@import url('./tech-skills.css');
@import url('./my-projects.css');
@import url('./benefits.css');
@import url('./FAQ.css');
@import url('./reviews.css');
@import url('./work-together.css');
@import url('./footer.css');
@import url('./dark.css');

/* .body-dark p {
  color: #fff;
}
.body-dark a {
  color: #fff;
}

.body-dark .user-review {
  background: #2a2d32;
}

.body-dark .my-projects-btn-load-more {
  color: #fff;
}
.body-dark .my-projects-btn-visit {
  background: #2a2d32;
}
.body-dark .my-projects-name {
  color: #fff;
}
.body-dark .hero-button-order {
  color: #fff;
}

.body-dark .hero-button-bg {
  background: #204136;
}
.body-dark .about {
  color: #fff;
}

.body-dark .hero-title {
  color: #fff;
}

.body-dark h2 {
  color: #fff;
} */
